
   
    


 
 .menuList{
  cursor: pointer;
  padding: 0px 20px;
    font-size: larger;
    font-weight: 700;
    color: white;
    text-decoration: none;
    
  
   
   }
   .menuList:hover{
      color: yellow;
      border-bottom: 6px solid yellow;
      transition-duration: 0.3s;
   }

   
   
 .nameAsLogo{
    font-size:26px;
   }
 .navcontainer{
   display: flex;
   flex-direction: row;  
   justify-content: space-between;
   padding:10px 20px;
   border: 3px solid red;
   gap: 20px;
 }
 @media only screen and (max-width: 950px){
   .navcontainer{
      flex-direction: column;
      text-align: center;
   
   }
   
 }

